<!-- Use the base template -->
{% extends "base.html" %}

<!-- Title for this page -->
{% block title %} Home {% endblock %}

<!-- Content for this page -->
{% block content %}
    <h1>Home page</h1>
    <br>
    <div class="row">

        <div class="col-sm-3 col-md-6 col-lg-4">
            <p>
                A search form to allow a user to search for cities or blog post content
            </p>
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>


        <div class="col-sm-9 col-md-6 col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Magna fringilla urna porttitor rhoncus dolor purus non enim. Condimentum mattis
                pellentesque id nibh tortor. Ut venenatis tellus in metus vulputate eu.
                Pellentesque sit amet porttitor eget dolor morbi. Nec ullamcorper sit amet risus. Suspendisse potenti
                nullam ac tortor vitae purus faucibus ornare suspendisse. Tristique senectus et netus et malesuada. Id
                nibh tortor id aliquet lectus proin nibh. Condimentum lacinia quis vel eros donec.
                Ac turpis egestas maecenas pharetra convallis posuere morbi leo. At ultrices mi tempus imperdiet nulla
                malesuada. In nulla posuere sollicitudin aliquam ultrices sagittis orci.</p>
        </div>

    </div>
{% endblock %}
