<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- My own CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mystyles.css') }}">
    <title>{% block title %}{{ title }}{% endblock %}
    </title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    Rain blog
    <img src="{{ url_for('static', filename='img/rain-cartoon-cloud-clip-art-png-favpng-vxHhtVhAgKRngVWLsU4DtNLaq.jpg') }}"
         width="50">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home </a>
        <a class="nav-item nav-link" href="{{ url_for('signup') }}">Signup</a>
        <a class="nav-item nav-link" href="{{ url_for('UserInfo') }}">User Information</a>

    </div>
</nav>
<hr>
<main role="main" class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>


</body>
</html>