<!--import the render_field-->
{% from "_formhelpers.html" import render_field %}

<!-- Use the base template -->
{% extends "base.html" %}

<!-- Title for this page -->
{% block title %} Sign up {% endblock %}

<!-- Content for this page -->
{% block content %}
    <h3>Sign up</h3>
    <br>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            <dd><input type=submit value='Sign Up' class='btn btn-primary'></dd>
        </dl>
    </form>


{% endblock %}
